.main {
    margin-top: 50px;
    margin-bottom: 150px;
}

.intro {
    position: relative;
    margin-left: 4%;
}

.intro_text {
    margin-top: 150px;
    width: 35%;
}

.intro_header {
    font-size: 35px;
    color: white;
}

.intro_description {
    color: white;
    text-align: justify;
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 1px;
    margin-top: 20px;
}

.opportunity_list {
    display: grid;
    grid-template-columns: 1fr 1vw 1fr 1vw 1fr;
    margin-top: 100px;
}

.opportunity {
    position: relative;
    width: 150px;
    height: 150px;
}

.opportunity_img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100px;
}

.opportunity_img_print {
    content: url(./img/print.png);
}

.opportunity_img_route {
    content: url(./img/route.png);
}

.opportunity_img_delivery {
    content: url(./img/delivery.png);
}

.opportunity_text {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
}

.go_down_img {
    cursor: pointer;
    content: url(./img/go-down.png);
    border-radius: 50%;
}

.intro_img {
    position: absolute;
    top: -90px;
    right: 10vw;
    content: url(./img/house.png);
}

.creating_3D_model_header {
    margin-top: 200px;
    font-size: 40px;
    color: white;
    text-align: center;
}

.creating_3D_model_stage_list {
    display: grid;
    grid-template-columns: 1fr 3% 1fr 3% 1fr;
    margin-top: 65px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 75vw;
}

.creating_3D_model_stage {
    position: relative;
    border: 1px solid #390F4E;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.157);
    padding-block: 45px;
    padding-inline: 40px;
}

.creating_3D_model_stage_img {
    max-height: 113px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.image_3D_modelling {
    content: url(./img/3d-modelling.png);
}

.image_3D_print {
    content: url(./img/3d-print.png);
}

.image_3D_import {
    content: url(./img/3d-import.png);
}

.creating_3D_model_stage_header {
    margin-top: 80px;
    transform: translateY(-50%);
    font-size: 30px;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    word-wrap: break-word;
}

.creating_3D_model_stage_text {
    margin-top: 80px;
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
}

.go_up_button_cont {
    position: relative;
}

.go_up_button {
    cursor: pointer;
    position: relative;
    position: absolute;
    right: 5vw;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    padding: 5px;
}

.go_up_button:hover {
    border: 2px solid white;
}

.go_up_img {
    content: url(./img/go-up.png);
}

.go_up_text {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
