.page {
    background-color: aliceblue;
    height: 80vh; /* Значення у відносних величинах (viewport height) */
    width: 100%;
}

.header {
    position: relative;
    top: 5px;
    font-family: "Montserrat", Helvetica;
    text-align: center; /* Вирівнювання тексту по центру */
    font-size: 2em; /* Розмір тексту, ви можете змінити це значення на те, яке вам потрібно */
}

.header_below {
    position: relative;
    top: 15px;
    font-family: "Montserrat", Helvetica;
    text-align: center; /* Вирівнювання тексту по центру */
    font-size: 1em; /* Розмір тексту, ви можете змінити це значення на те, яке вам потрібно */
}

.left {
    position: relative;
    left: 5%;
    top: 4vh;
}

.input_name_group {
    top: 15px;
}

.input_name_text {
    font-family: "Montserrat", Helvetica;
    font-size: 1em;
}

.input_name {
    width: 30%;
    height: 30px;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    border-color: blueviolet;
    font-size: 16px; /* Розмір шрифту */
    font-family: 'Montserrat', sans-serif; /* Назва шрифту (замініть 'Your Font' на назву вибраного вами шрифту) */
}

.uploading {
    position: relative;
    left: 15%;
    content: url(../ModelUploadPage/uploading.svg)
}

.right {
    position: relative;
    left: 55%;
    top: -10vh;
}
