.page {
    position:relative;
    border: 2px solid #fff; /* біла обводка товщиною 2px */
    padding: 10px; /* додайте відступи, які вам потрібні */
    border-radius: 10px; /* радіус закруглення кутів 10px */
    width:90%;
    left:5%;
}
.models_group {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 35px;
    letter-spacing: 1px;
    color: white;
}
.Position {
    position: relative;
    left: 5%;
}
.Depth {
    position: relative;
    left: 50%;
}
.Count {
    position: relative;
    left: 58%;
}
.Sum {
    position: relative;
    left: 60%;
}
.model_item {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 35px;
    letter-spacing: 1px;
    color: white;
}
.checkbox {
    width: 30px; /* задайте ширину чекбоксу */
    height: 30px; /* задайте висоту чекбоксу */
    position: relative;
    top: 80px;
    display: flex;
    border: 1px solid; /* Замініть #your_color на бажаний колір */
    border-radius: 5px; /* Закругление углов, значение можно настроить по вашему желанию */
}
.model_image {
    width: 160px; /* задайте ширину чекбоксу */
    height: 160px; /* задайте висоту чекбоксу */
}
.count_input {
    position: relative;
    left: 30%;
    width: 50px; /* Опціонально: встановіть ширину поля вводу */
    border: 1px solid #ccc; /* Опціонально: додайте рамку для вигляду меж */
    border-radius: 5px; /* Опціонально: закруглення кутів */
    overflow: hidden; /* Щоб обрізати стрілки, які виходять за межі */
    /* Приховати стандартний стиль фону та стрілочок */
    background-color: transparent;
    border-color: transparent;
    appearance: none;
    font-size: 35px;
    letter-spacing: 1px;
    color: white;
}

    .count_input::after {
        content: '\25B2 \25BC'; /* Unicode символи стрілок вгору та вниз */
        position: absolute;
        right: 5px; /* Опціонально: відстань від правого краю */
        top: 50%; /* Вирівняти вертикально в центрі */
        transform: translateY(-50%); /* Коригування для точного вирівнювання по центру */
        font-size: 10px; /* Опціонально: розмір шрифту стрілок */
        pointer-events: none; /* Запобігає взаємодії з стрілками, зберігаючи можливість вводу в поле */
    }
.model_Name {
    max-width: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.model_Depth {
    position: relative;
    left: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.model_Sum {
    position: relative;
    left: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
}
