.page {
    position:relative;
    border: 2px solid #fff; /* біла обводка товщиною 2px */
    padding: 10px; /* додайте відступи, які вам потрібні */
    border-radius: 10px; /* радіус закруглення кутів 10px */
    width:90%;
    left:5%;
}
.models_group {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 35px;
    letter-spacing: 1px;
    color: white;
}
.Position {
    position: relative;
    left: 5%;
}
.Depth {
    position: relative;
    left: 50%;
}
.Count {
    position: relative;
    left: 58%;
}
.Sum {
    position: relative;
    left: 60%;
}
.model_item {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 35px;
    letter-spacing: 1px;
    color: white;
}
.checkbox {
    width: 30px; /* задайте ширину чекбоксу */
    height: 30px; /* задайте висоту чекбоксу */
    position: relative;
    top: 80px;
    display: flex;
    border: 1px solid; /* Замініть #your_color на бажаний колір */
    border-radius: 5px; /* Закругление углов, значение можно настроить по вашему желанию */
}
.model_image {
    width: 160px; /* задайте ширину чекбоксу */
    height: 160px; /* задайте висоту чекбоксу */
}
.count_input {
    position: relative;
    left: 30%;
    width: 50px; /* Опціонально: встановіть ширину поля вводу */
    border-radius: 5px; /* Опціонально: закруглення кутів */
    overflow: hidden; /* Щоб обрізати стрілки, які виходять за межі */
    /* Приховати стандартний стиль фону та стрілочок */
    background-color: transparent;
    border-color: transparent;
    appearance: none;
    font-size: 35px;
    letter-spacing: 1px;
    color: white;
}

.model_Name {
    max-width: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.model_Depth {
    position: relative;
    left: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.model_Sum {
    position: relative;
    left: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back_button {
    padding: 10px 20px; /* Увеличьте отступы, чтобы увеличить размер кнопки */
    background: none; /* Убирает фон кнопки */
    border: none; /* Убирает границу кнопки, если она есть */
    cursor: pointer; /* Делает курсор указателя при наведении, чтобы подчеркнуть интерактивность */
    font-size: 35px;
    letter-spacing: 1px;
    color: white;
    position:relative;
    left:10%;
    top:8vh;
}
.order_group {
    font-size: 35px;
    letter-spacing: 1px;
    color: white;
    position: relative;
    left: 70%;
}

.buy_model_button {
    cursor: pointer;
    position: relative;
    display: flex;
    width:15%;
    height:50px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: goldenrod;
}

    .buy_model_button:hover {
        box-shadow: 0px 0px 4px 2px rgb(0, 0, 0);
    }

.buy_model_button_img {
    content: url(./img/buy.png);
}

.buy_model_button_text {
    margin-left: 5%;
    font-size: 24px;
}
