* {
    margin: 0px;
    padding: 0px;
    font-family: 'Robotic', sans-serif;
}

body {
    background: linear-gradient(270deg, #7C26BF 0.13%, #BA67D3 99.84%, #7030B5 99.85%);
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: rgb(247, 0, 255);
}

body::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
}