* {
    margin: 0px;
    padding: 0px;
    font-family: 'Robotic', sans-serif;
}

body {
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: rgb(247, 0, 255);
}

body::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
}